$fuente_principal:'Raleway', san-serif;
$fuenteSecundaria: 'Roboto', san-serif;
$fuenteCursiva: 'Bona Nova', serif;

$telefono: 480px;
$tablet:768px;
$desktop:1024px;

$primario:#5E311E;
$secundario:#C39C63;
$negro:#000;
$blanco:#fff;
$grisClaro:#eceeef;
$cafeClaro:#ebe7de;

$separacion:5rem;
